


#l1, #l2, #l3{
    visibility: hidden;
}
img{
    border-radius: 5rem;
    
}
body{
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

      background-color: rgba(46, 72, 102, 0.849);
    }
    
    @media only screen and (max-width: 800px) {
      body {
        background-color: rgb(5, 39, 104);
      }
    }

p{
    font: size 2rem;
}

Button {
    color: rgb(0, 0, 0);
     font-size: 12px; line-height: 12px; padding: 3px; border-radius: 
     20px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; 
     font-style:normal; font-variant: normal; text-transform: none; 
     background-image: linear-gradient(to right, rgb(115, 141, 158) 0%, rgb(142, 174, 216) 50%, rgb(20, 78, 117) 100%);
     box-shadow: rgb(118, 145, 204) 5px 5px 25px 18px; border: 2px solid rgb(53, 78, 131); 
      display: inline-block;}
    .myButton:hover {
    background: #b39b4f; }
    .myButton:active {
    background-color: inherit;}
    
#icono{
      color: rgba(20, 23, 94, 0.966);
    }